BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
ColumnLimit: 120

